.bannerContainer {
  width: 100%;
}

.linkBanner {
  display: flex;
  justify-content: center;
  margin: 3% 3% 3% 3%;
}

.fotoCategoria {
  max-width: 30%;
  min-width: 200px;
  border-radius: 2%;
}
.catPicture {
  width: 100%
}

.containerCat {
  display: flex;
  justify-content: center;
  gap: 2%
}

.titCat {
  text-align: center;
}

.footer {
  background-color: #ead7c3;
  height: 40px;
  text-align: center;
  padding-top: 10px;
}

@media screen and (max-width: 700px) {
  .containerCat {
    flex-direction: column;
    align-items: center;
  }
  .fotoCategoria {
    max-width: 70%;
  }
}
